/* This is the overall style sheet for my site here, the background url is
 * ok_hand */
pre {
  font-family: sans-serif;
  font-size: 12pt;
}

html {
  max-width: 1010px;
  margin-right: auto;
  margin-left:  auto;
  background-image: url("Blue-Hills.jpg"); 
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll; 
}

body {
  font-size 12pt;
  font-family: sans-serif;
  background: fixed;
  background-color: black;
  color: white;
  opacity: 0.7;
  background-attachment: fixed;
  overflow: hidden;
}
/* bit borrowed from the net here pretty clever what they do 
img.bg {
  min-width 1024px;
  min-height 100%;
  width 100%;
  height auto;
  position fixed;
  top: 0;
  left: 0;
}
*/

/*p.full {
  background-color: #333;
  overflow: hidden; 
  padding: 16px;
  margin: fixed;
 } 
*/

/* got to love link underlining and colouring */
a {
  color: cyan; 
  font-weight bold;
  text-decoration: none;
}  

a:hover {
  text-decoration: underline;
}
  

hr {
  color: white;
}

.topnavi {
  /* background-color: #333; */   
  overflow: hidden;
 
}

.topnavi a {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: underline;
  font-size: 12pt;
}
 
